body {
  font-family: 'Segoe UI', sans-serif;
  background: #f4f6f9;
  margin: 0;
}

h1 {
  text-align: center;
  padding: 20px;
  background: #111;
  color: white;
  margin: 0;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  width: 100%;
  padding: 10px;
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #333;
}

.secondary {
  background: #555;
}

.secondary:hover {
  background: #777;
}

#dashboard p {
  margin: 5px 0;
}

#taskList p {
  margin: 8px 0;
}